<!DOCTYPE html>
<html lang="en">


<head>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<link href="/static/solarpv/project1.css" rel="stylesheet">

	<script>
		function hasNumber(myString) {
			return /\d/.test(myString);
		}
		function hasUppercase(myString) {
			for (var i = 0; i < myString.length; i++) {
				let cc = myString.charAt(i)
				if ("ABCDEFGHIJKLMNOPQRSTUVWXYZ".indexOf(cc) >= 0) {
					return true;
				}
			}
			return false;
		}

		function hasLowercase(myString) {
			for (var i = 0; i < myString.length; i++) {
				let cc = myString.charAt(i)
				if ("abcdefghijklmnopqrstuvwxyz".indexOf(cc) >= 0) {
					return true;
				}
			}
			return false;
		}

		function validateForm() {
			let userID = document.forms["loginForm"]["myusername"].value;
			let clientId = document.forms["loginForm"]["clientID"].value;
			let firstlasname = document.forms["loginForm"]["myFname"].value;
			let middlename = document.forms["loginForm"]["myMname"].value;
			let lastname = document.forms["loginForm"]["myLname"].value;
			let myJob = document.forms["loginForm"]["myJob"].value;
			let email = document.forms["loginForm"]["myEmail"].value;
			let cellphone = document.forms["loginForm"]["myPhone"].value;
			let officephone = document.forms["loginForm"]["myOPhone"].value;
			let prefix = document.forms["loginForm"]["myPrefix"].value;
			let isStaff = document.forms["loginForm"]["isStaff"].value;


			if (userID == "") {
				alert("Username is not valid");
				return false;
			}
			
			if (clientID == "") {
				alert("Input is not valid");
				return false;
			}

			if (myFname == "") {
				alert("Input is not valid");
				return false;
			}
			if (myMname == "") {
				alert("Input is not valid");
				return false;
			}

			if (myLname == "") {
				alert("Input is not valid");
				return false;
			}
			if (myJob == "") {
				alert("Input is not valid");
				return false;
			}
			
			if (email == "" || email.indexOf('@') < 0) {
				alert("Email is not valid");
				return false;
			}
			if (cellphone == "") {
				alert("Input is not valid");
				return false;
			}
			if (officephone == "") {
				alert("Input is not valid");
				return false;
			}

			if (prefix == "") {
				alert("Input is not valid");
				return false;
			}
			if (isStaff == "") {
				alert("Input is not valid");
				return false;
			}


			return true
		}


	</script>
</head>

<body>
	<header><span><a href="project1">Home</a></span>
		<span><a href='login'>Login </a></span>
		<span><a href='webPortal'>Web Portal </a></span>
	</header>

	
		<main>


			<h2>Join Us!</h2>



			<p>Required fields are marked with an asterisk *.</p>

			<form name="loginForm" action="#" onsubmit="return validateForm()">

				<div class="formRow">
					<label for="userID"> User ID</label>
					<input type="text" name="myusername" id="myusername" maxlength="8">
				</div>
			
				<div class="formRow">
					<label for="clientID"> Client ID</label>
					<input type="text" name="clientID" id="clientID">
				</div>
				
				<div class="formRorm">
					<label for="myFname"> First Name</label>
					<input type="text" name="myFname" id="myFname">
				</div>

				<div class="formRorm">
					<label for="myMname"> Middle Name</label>
					<input type="text" name="myMname" id="myMname">
				</div>
				<div class="formRow">
					<label for="myLname"> Last Name</label>
					<input type="text" name="myLname" id="myLname" >
				</div>

				<div class="formRow">
					<label for="myJob"> Job Title</label>
					<input type="text" name="myJob" id="myJob" >
				</div>
		
				<div class="formRow">

					<label for="myEmail">* E-Mail</label>
					<input type="email" name="myEmail" id="myEmail" >
				</div>
				<div class="formRow">
					<label for="myOPhone">* Office-Phone Number</label>
					<input type="tel" name="myOPhone" id="myOPhone" maxlength="12">
				</div>
				<div class="formRow">
					<label for="myPhone">* Cell-Phone Number</label>
					<input type="tel" name="myPhone" id="myPhone" maxlength="12">
				</div>
				<div class="formRow">
					<label for="myPrefix">Prefix</label>
					<input type="text" name="myPrefix" id="myPrefix" >

				</div>
				<div class="formRow">
					<label for="isStaff">Staff (y/n)</label>
					<input type="text" name="isStaff" id="isStaff" maxlength="3" >

				</div>

				<div class="formRow">
					<input type="submit" value="Submit">
					<br>
				</div>

			</form>


	</div>

	</main>


	<footer>
		SolarPV &copy; 2019 All Rights Reserved <br>
		123 SolarPV Drive, 1-800-555-5555, solarpv@solarpv.com, solarpv.com <br>
		Site Map | Terms & Conditions | Privacy | About Us

	</footer>

</body>

</html>