<!DOCTYPE html>
<html lang="en">


<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="project1.css" rel="stylesheet">
    <script>
        function hasNumber(myString) {
            return /\d/.test(myString);
        }
        function hasUppercase(myString) {
            for (var i = 0; i < myString.length; i++) {
                let cc = myString.charAt(i)
                if ("ABCDEFGHIJKLMNOPQRSTUVWXYZ".indexOf(cc) >= 0) {
                    return true;
                }
            }
            return false;
        }

        function hasLowercase(myString) {
            for (var i = 0; i < myString.length; i++) {
                let cc = myString.charAt(i)
                if ("abcdefghijklmnopqrstuvwxyz".indexOf(cc) >= 0) {
                    return true;
                }
            }
            return false;
        }

        function validateForm() {
            let email = document.forms["loginForm"]["emailInput"].value;
            let password = document.forms["loginForm"]["passwordInput"].value;

            if (email == "" || email.indexOf('@') < 0) {
                alert("Email is not valid");
                return false;
            }
            if (password.length > 8 || hasNumber(password) == false || !hasUppercase(password) || !hasLowercase(password)) {
                alert("Password is not valid");
                return false;
            }

            return true
        }



    </script>

</head>

<body>
    <header>
        <span><a href="project1.html">Home</a></span>
        <span><a href='form.html'>Register </a></span>
    </header>

    <main>

            <div class="login-container">
                <form name="loginForm" action="#" onsubmit="return validateForm()">
                    <div class="email">
                        <div class="inputBox">
                            <input name="emailInput" type="email" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="password">
                        <div class="inputBox">
                            <input name="passwordInput" type="password" placeholder="Password">
                        </div>
                        <div class="login">
                            <div class="loginBox">
                                <input type="submit" value="Login">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>




        </form>


  
	

    

    </main>


    <footer>
        SolarPV &copy; 2019 All Rights Reserved <br>
		123 SolarPV Drive, 1-800-555-5555, solarpv@solarpv.com, solarpv.com <br>
		Site Map | Terms & Conditions | Privacy | About Us

    </footer>

</body>


    

</html>