<!DOCTYPE html>
<html lang="en">

<head>
	<title>solarPV</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/solarpv/font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="/static/solarpv/project1.css" rel="stylesheet">
	<meta charset="utf-8">
</head>

<body onload='getLocation()'>
	<div class="header-container container">
		<div class="header1 flex-item">
			<span><a href='/register/'>Register </a></span>
			<span><a href="/admin/">Login</a></span>
			<span><a href='webPortal'>Web Portal </a></span>
                        <span><a href="certs/">Testing and Certificate</a></span>
			<span> About Us </span>
			<span>Contact Us</span>
		</div>
		<div class="header2 flex-item">
			<img id="logo" src="/static/solarpv/solarpvlogo.png" alt="solarpv" width="200" height="50">
		</div>
		<div class="header3 flex-item">
			<a href="http://facebook.com">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
			</a>
			<a href="http://twitter.com">
				<i class="fa fa-twitter-square" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	</div>


	<ul class="nav-container container">
		<li class="flex-item">Racks & Trackers</li>
		<li class="flex-item">PV Module</li>
		<li class="flex-item">PV Systems</li>
		<li class="flex-item">Data Analytics</li>
		<li class="flex-item">Cybersecurity</li>
	</ul>

	<main class="main-container container">

		<section class="flex-item">
			<h3>News & Events</h3>
			<p>PhotoVoltaic Technical Conference to take place in Marseille France from 26 to 28 April 2017</p>
			<p>Trump is next US president</p>
			<p>Syrian forces recapture Aleppo</p>
			<p>Senate votes on SCOTUS nominee</p>
		</section>
		<section class="flex-item">
			<h3>PV Module</h3>
			<ul>
				<li>Testing & Certification</li>
				<li>PV Rating</li>
			</ul>
			<h3>PV System Performance</h3>
			<ul>
				<li>Monitoring & Inspection</li>
				<li>Performance Analysis</li>
				<li>Compare system</li>
				<li>Certification</li>
			</ul>
			<h3>Data Analytics</h3>
			<ul>
				<li>Module lifetime prediction</li>
				<li>Energy Prediction</li>
			</ul>
			<h3>Cybersecurity Smart Grid Technologies</h3>
			<h3>Solar PV University</h3>

		</section>

		<section class="flex-item">
			<h3>Feature Contents</h3>
			<video width="320" height="240" controls>
				<source src="/static/solarpv/programming video.mp4" type="video/mp4">
				
			</video>
			<h4>Cybersecurity 101:</h4>
			<audio controls>
				<source src="/static/solarpv/Cybersecurity 101.mp3" type="audio/mpeg">
				
			</audio>
		</section>
	</main>

	<svg height="100" width="200">
		<text x="0" y="15" fill="black" transform="rotate(15 20,40)">Contact Us!</text>
	</svg>

	<footer>
		SolarPV &copy; 2019 All Rights Reserved <br>
		123 SolarPV Drive, 1-800-555-5555, solarpv@solarpv.com, solarpv.com <br>
		Site Map | Terms & Conditions | Privacy | About Us

	</footer>
</body>
<script src="/static/solarpv/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$("#logo").fadeIn(3000)
	})
</script>
<script>
	var x = document.getElementById("pos");
	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
		} else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		}
	}

	function showPosition(position) {
		x.innerHTML = "Latitude: " + position.coords.latitude +
			"<br>Longitude: " + position.coords.longitude;
	}
</script>


</html>
