<!DOCTYPE html>
<html lang="en">


<head>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<link href="/static/solarpv/project1.css" rel="stylesheet">
</head>

<body>
	<header><span><a href="project1">Home</a></span>
		<span><a href='form'>Register </a></span>
		<span><a href='login'>Login </a></span>
	</header>

	
		<main>


			<h2>Web Portal</h2>



			

			<form name="PortalForm" action="#">

				<div class="formRow">
					<label for="client"> Client</label>
					<input type="text" name="myClient" id="myClient">
				</div>
			
				<div class="formRow">
					<label for="location"> Location</label>
					<input type="text" name="myLocation" id="myLocation">
				</div>
				
				<div class="formRorm">
					<label for="product"> Product</label>
					<input type="text" name="myProduct" id="myProduct">
				</div>

				<div class="formRorm">
					<label for="testStandard"> Test Standard</label>
					<input type="text" name="myTest" id="myTest">
				</div>
				<div class="formRow">
					<p>Certifcate</p>
					<input type="radio" name="certifcate" id="Yes">
                    <label for="certificateYes"> Yes </label>
                    <input type="radio" name="certifcate" id="No">
                    <label for="certificateNo"> No </label>

                    
				</div>

			

			</form>


	</div>

	</main>


	<footer>
		SolarPV &copy; 2019 All Rights Reserved <br>
		123 SolarPV Drive, 1-800-555-5555, solarpv@solarpv.com, solarpv.com <br>
		Site Map | Terms & Conditions | Privacy | About Us

	</footer>

</body>

</html>